:root {
  --red: #d00000;
  --yellow: #ffba08;
  --blue: #3f88c5;
  --dark-blue: #032b43;
  --green: #136f63;
  --space: #2b2d42;
  --light-space: #8d99ae;
  --lightest: #edf2f4;
}
* {
  color: var(--blue);
}
body {
  min-height: 100%;
  background-color: var(--space);
}
header {
  background-color: var(--light-space);
}
header h1 {
  color: var(--dark-blue);
}

.user-form-card {
  height: 50vh;
  display: flex;
  justify-content: center;
}
.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-form input {
  width: 25vw;
}
.login-button {
  width: 25vw;
}
